flwr==1.25.0
imblearn==0.0
joblib==1.2.0
matplotlib==3.7.1
numpy==1.26.4
mlxtend==0.23.0
openml==0.13.1
pandas==2.2.1
PyYAML==6.0.2
scikit_learn
tqdm==4.65.0
xgboost==1.7.5
pdfkit==1.0.0
aif360>=0.6.1
shap
fpdf2==2.7.9

 
